# Task 5 : Remove Duplication
## Identify and remove duplicate values in a dataset.
### Import dataset

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
df_t5 = pd.read_csv(r"Iris_for_Task 3_5.csv")
df_t5.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

Id is unique value, let's remove this column for duplicate checking

In [16]:
df_t5.duplicated(subset=['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm','Species']).sum()

3

In [17]:
df_t5[df_t5.duplicated(subset=['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm','Species'])]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
34,35,4.9,3.1,1.5,0.1,Iris-setosa
37,38,4.9,3.1,1.5,0.1,Iris-setosa
142,143,5.8,2.7,5.1,1.9,Iris-virginica

There is 3 record that have duplicate values, let's remove this

# Remove duplicate values

In [18]:
df_t5 = df_t5.drop_duplicates(subset=['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'])

In [19]:
#Check duplicate again
df_t5.duplicated(subset=['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']).sum()

0

Now there is no duplicate values anymore